<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Testing Article</h1>
<p><strong>Title: </strong> <%= @article.title %></p>
<p><strong>Description: </strong> <%= @article.description %></p>
</body>
</html>